@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  cursor: pointer;
}

h2{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
  color:#2D346B;
  text-decoration: underline;
}